node_modules
package-lock.json
*/*.db
.env

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]sersettings/

Simulation/[Ll]ibrary/
Simulation/[Tt]emp/
Simulation/[Oo]bj/
Simulation/[Bb]uild/
Simulation/[Bb]uilds/
Simulation/[Ll]ogs/
Simulation/[Uu]serSettings/

.vscode/
.gradle/
ExportedObj/
.directory
*.csproj
*.unitypackage
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.opendb
*.IDB
*.VC.db

.DS_Store