* {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("/Images/cursor-mini.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 99999;
  transform-origin: top left;
  /* Now, this transition will ONLY affect the scale, not the movement */
  transition:
    transform 0.2s cubic-bezier(0.25, 1, 0.5, 1),
    filter 0.2s ease;
}

.custom-cursor.is-hovering {
  transform: scale(1.2) rotate(10deg);
  filter: drop-shadow(0px 4px 8px #19c4d8);
}
